{{ define "content" }}
<h1>Register</h1>
<form action="/register" method="post">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="username" id="username" name="username">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{{ end }}
